body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

header {
    background: hsl(210, 98%, 25%);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    border: solid 1px #03000c;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.logo {
    position: absolute;
}
.logo img{
    width: 70px;
}
.menu{
    margin: 0 auto;
    display: flex;
    gap: 20px;
    
}
.menu a{
    text-decoration: none;
    font-weight: bold;
    color: white;
}

main {
    flex: 1;
    padding: 20px;
}

.lancamento {
    text-align: center;
}

.lancamento img {
    border: solid 2px rgb(14, 84, 159);
    box-shadow: black 10px 10px 15px 5px;
    width: 100%;
    max-width: 900px;
    margin: 20px 0;
}
.informacao{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.teste{
    color: azure;
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    border: solid 1px black;
}

.produtos {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
}


.produtos img {
    width: 250px;
    border-radius: 10px;
}

footer {
    display: flex;
    align-items: center;
    background-color: rgb(4, 4, 249);
    text-align: center;
    padding: 15px;
}
.redeSociais{
    display: flex;
    align-items: center;
    text-align: center;
    color: azure;
    border: solid 1px black;
    width: 115px;
    height: 50px;
}
.logo2{
    border: solid 1px black;
    width: 128px;
}

.redes{

    display: flex;
    align-items: center;
    height: 50px;
    width: 180px;
    margin-right: 10px;
}

.redes img{
   width: 30px;
   margin-left: 10px;
}

@media (max-width: 768px) {

    header {
        flex-direction: column;
    }

    nav {
        margin-top: 10px;
    }

    .produtos {
        flex-direction: column;
        align-items: center;
    }
}
