html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


header {
    background: #07072e;
    border: solid 1px #0a0a35;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.logo img {
    width: 70px;
}


.menu {
    margin: 0 auto;
    display: flex;
    gap: 20px;
}

.menu a {
    text-decoration: none;
    font-weight: bold;
    color: white;
}

main {
    flex: 1;
    padding: 20px;
}

.telaRanger {
    text-align: center;
}

.telaRanger img {
    border: solid 2px rgb(14, 84, 159);
    box-shadow: black 0px 10px 50px 10px;
    max-width: 100%;
    height: 650px;
    margin: 20px 0;
}

.informacao {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between; /* melhor que center */
}

.teste {
    color: azure;
    display: flex;
    align-items: center;
    width: 60%;
    min-height: 50px;
}


.produtos {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
}

.produtos img {
    width: 250px;
    border-radius: 10px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #07072e;
    padding: 15px 30px;
    flex-wrap: wrap; /* ajuda no responsivo */
}

/* BLOCO ESQUERDA (redes) */
.redes-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.redeSociais {
    color: white;
    font-weight: bold;
}

.redes {
    display: flex;
    gap: 10px;
}

.redes img {
    width: 45px;
}


.texto {
    position: static;
    color: white;
    text-align: center;
    flex: 1;

}

.logo2 {
    position: static;
    width: 90px;
}

@media (max-width: 768px) {

    header {
        flex-direction: column;
    }

    .menu {
        margin-top: 10px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .informacao {
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }

    .teste {
        width: 100%;
    }

    .produtos {
        flex-direction: column;
        align-items: center;
    }
}